<div class="footer">
    Source code available on <a href="https://github.com/mxve/mc-website">GitHub</a>
    <br>
    <a hreF="https://www.flaticon.com/packs/file-type-cartoon-2">File type cartoon 2</a> pack created by <a href="https://www.flaticon.com/authors/ylivdesign">Ylivdesign</a>
</div>
