<!DOCTYPE html>
<html>
    <head>
        <title>
            Minecraft Server
        </title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <% if (slots !== undefined && version !== undefined) { %>
            
            <p><a href="/map">Live map</a></p>
            <% if (players !== undefined && players.length !== 0) { %>
                <table>
                    <caption><%= players.length %> / <%= slots %></caption>
                    <% for (let i = 0; i < players.length; i++) { %>
                        <tr>
                            <td><img class="player-head" src='https://mc-heads.net/avatar/<%= players[i] %>'></td>
                            <th><%= players[i] %></th>
                        </tr>
                    <% } %>
                </table>
            <% } else { %>
                No players online
            <% } 
        } else { %>
            Server is currently offline
        <% } %>

    </body>
</html>