<div class="links">
    <a href="/" class="link-players"><img src="file.png"/>Players</a>
    <a href="/setup" class="link-setup"><img src="book.png"/>Download</a>
    <a href="<%= config.mapUrl %>" target="_BLANK"><img src="mountain.png"/>Live map</a>
</div>