<!DOCTYPE html>
<html>
    <head>
        <title>
            Minecraft Server
        </title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <iframe class="map" frameborder="0" src="<%= config.mapUrl %>">
            <p>Your browser does not support iframes.</p>
            <a href="<%= config.mapUrl %>">Map</a>
        </iframe>
    </body>
</html>