<!DOCTYPE html>
<html>
    <head>
        <title>
            Minecraft Server
        </title>
        <%- include('head') %>
    </head>
    <body class="page">
        <%- include('links') -%> 
        <div class="content">
            <%- config.setupContent %>
        </div>
        <%- include('footer') -%> 
    </body>
</html>